* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d2d2d;
    height: 100%;
    overflow: hidden;
}

main {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    width: 100px;
    padding: 10px;
    margin: 20px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Nunito Sans', sans-serif;    
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

#score-div {
    margin: 20px;
    text-align: center;
}

#score-text {
    font-size: 50px;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
}

.miles {
    display: grid;
    grid-template-columns: repeat(2, 130px);
}

.mile-overlay {
    z-index: 1;
    background-color: rgb(255, 95, 80);
    position: relative;
    top: 0px;
    height: 25px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    box-shadow: -6px -2px 0 2px rgb(223, 89, 77);
    border: 2px solid #ffffff;
    border-bottom: 0;
}

.box {
    height: 135px;
    width: 100px;
    margin: 20px;
    font-size: 35px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    line-height: 80px;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    border-radius: 20px 20px 0 0;
    box-shadow: -8px 0 rgb(154, 224, 49);
}

.box:hover {
    cursor: pointer;
}